In [1]:
# import libraries
import pandas as pd
from sklearn import neighbors
import numpy as np
%matplotlib inline  
import seaborn

In [2]:
# load previous dataset
df = pd.read_csv('df3.csv', encoding="latin1")

In [3]:
# remove "-" from the postalCode column and replace the name of the column to zipcode
df['zipcode'] = df.postalCode.str.replace("-", "")

In [4]:
#print head to see the changes
df.head()

,id,address,categories,city,country,latitude,longitude,name,postalCode,twitter,websites,no_twitter,no_website,no_menu,state,address_location,clusters,cluster_name,zipcode
0,AVwdQuH3ByjofQCxnPfO,1660 Champa St,"breweries , wineries",Denver,US,39.747169,-104.993057,D'vine Wine Denver,80202,NaN,http://www.dvinewineusa.com,True,False,True,CO,"1660 Champa St, Denver, CO, 80202, US",3,den,80202
1,AVwc2E2VIN2L1WUfphDU,1555 Blake St,"music venue,bar , music venue,bar,pubs,bars , ...",Denver,US,39.750288,-104.999768,World of Beer,80202,mapquest,"http://worldofbeer.com/Locations/Lodo,http://m...",False,False,True,CO,"1555 Blake St, Denver, CO, 80202, US",3,den,80202
2,AVwdhk0DIN2L1WUfwqtr,7260 W Alaska Dr,"music venue,bars , pubs,pubs,breweries,bar",Denver,US,39.709068,-105.077258,World of Beer,80226,NaN,http://worldofbeer.com/Locations/Belmar,True,False,True,CO,"7260 W Alaska Dr, Denver, CO, 80226, US",3,den,80226
3,AVwcizXVkufWRAb5wVk8,1257 W 120th Ave,"american restaurant,brewery,fast food restaura...",Denver,US,39.914928,-105.000843,C.b. & Potts,80234,NaN,http://cbpotts.com,True,False,True,CO,"1257 W 120th Ave, Denver, CO, 80234, US",3,den,80234
4,AVwdQdHXIN2L1WUft5XE,W Jeppesen Terminal 5,"airport lounge,brewery,bar",Denver,US,39.848760,-104.673743,Boulder Beer Tap House,80249,NaN,http://boulderbeer.com,True,False,True,CO,"W Jeppesen Terminal 5, Denver, CO, 80249, US",3,den,80249

In [5]:
# drop na's for latitude, longitude, and zipcode to create knn model
df2 = df.dropna(subset=['latitude', 'longitude', 'zipcode'])

In [6]:
# create an object that transforms latitude and longitude to a matrix
# create an object that transforms zipcode to an array
x = df2.as_matrix(columns=['latitude', 'longitude'])
y = np.array(df2['zipcode'])

In [7]:
# build a knn model that will predict zipcodes when k = 3
knn_clf1 = neighbors.KNeighborsClassifier(3, weights = 'uniform', metric='cityblock')
trained_model1 = knn_clf1.fit(x, y)
print(trained_model1.score(x, y))

0.9053461875547765

In [8]:
# build a knn model that will predict zipcodes when k = 5
knn_clf2 = neighbors.KNeighborsClassifier(5, weights = 'uniform', metric='cityblock')
trained_model2 = knn_clf2.fit(x, y)
print(trained_model2.score(x, y))

0.845749342681858

In [9]:
# build a knn model that will predict zipcodes when k = 11
knn_clf3 = neighbors.KNeighborsClassifier(11, weights = 'uniform', metric='cityblock')
trained_model3 = knn_clf3.fit(x, y)
print(trained_model3.score(x, y))

0.761612620508326

In [10]:
# create a test point to see if model words
x_test = np.array([[39.739752,-104.945080]])

In [11]:
# see results of the predicttion for test point
trained_model1.predict(x_test)

array(['80206'], dtype=object)

In [12]:
# set x1 equal to x 
x1 = x

In [13]:
# run knn model on missing value observations array
zipcodes = trained_model1.predict(x1)

In [14]:
# inspect first 50 observations 
zipcodes[0:50]

array(['80265', '80202', '80226', '80234', '80249', '80205', '80247',
       '80223', '80219', '80216', '80205', '80205', '80202', '80205',
       '80204', '80205', '80265', '80211', '80205', '80212', '80249',
       '80203', '80202', '80210', '80234', '80203', '80211', '80203',
       '80211', '80216', '80205', '80211', '80205', '80204', '80211',
       '80206', '80202', '80205', '80203', '80202', '80217', '80204',
       '80228', '80205', '80202', '80206', '80211', '80221', '80211',
       '80202'], dtype=object)

In [15]:
# create an object with missing zip code values
zipcode_is_na = df.zipcode.isna()

In [16]:
# create to data frames with missing and none missing values
df_new = df[zipcode_is_na]
df_new2 = df[-zipcode_is_na]

In [17]:
# turn missing value predictors into matrix 
X2 = df_new.as_matrix(columns=['latitude', 'longitude'])

In [18]:
# run missing value observations into model 
zipcodes2 = trained_model1.predict(X2)

In [19]:
# print out all results 
zipcodes2[0:127]

array(['80210', '80202', '80206', '80202', '80210', '80249', '80202',
       '80202', '80204', '80249', '80206', '80204', '80202', '80202',
       '97218', '97214', '97209', '92121', '92121', '92126', '92126',
       '92121', '92121', '92121', '92121', '92121', '92111', '92121',
       '92101', '92127', '92104', '92104', '92110', '92102', '92126',
       '92116', '92110', '92126', '92126', '92120', '92104', '92131',
       '92121', '92114', '92131', '92127', '92121', '92102', '92104',
       '92127', '92104', '92127', '92104', '92106', '92110', '92109',
       '92109', '92104', '92114', '92110', '92116', '92121', '92106',
       '92110', '92131', '92121', '92120', '92121', '92126', '92121',
       '92131', '92110', '92121', '92120', '92127', '92121', '98109',
       '98134', '98134', '98118', '98108', '98116', '98116', '98107',
       '98103', '98107', '98108', '98107', '98107', '98103', '98107',
       '98109', '98116', '98134', '98101', '98105', '98101', '98116',
       '98109', '98105', '60618', '60622', '60603', '60608', '60640',
       '60603', '60661', '60661', '60657', '60618', '60661', '60657',
       '60661', '60661', '60640', '60661', '60622', '78701', '78736',
       '78732', '78758', '78732', '78745', '78745', '78736', '78702',
       '78758'], dtype=object)

In [20]:
# check out the shape of data frame with none missing values
df_new2.shape

(1141, 19)

In [21]:
# inspect the head of data frame with non missing values
df_new2.head()

,id,address,categories,city,country,latitude,longitude,name,postalCode,twitter,websites,no_twitter,no_website,no_menu,state,address_location,clusters,cluster_name,zipcode
0,AVwdQuH3ByjofQCxnPfO,1660 Champa St,"breweries , wineries",Denver,US,39.747169,-104.993057,D'vine Wine Denver,80202,NaN,http://www.dvinewineusa.com,True,False,True,CO,"1660 Champa St, Denver, CO, 80202, US",3,den,80202
1,AVwc2E2VIN2L1WUfphDU,1555 Blake St,"music venue,bar , music venue,bar,pubs,bars , ...",Denver,US,39.750288,-104.999768,World of Beer,80202,mapquest,"http://worldofbeer.com/Locations/Lodo,http://m...",False,False,True,CO,"1555 Blake St, Denver, CO, 80202, US",3,den,80202
2,AVwdhk0DIN2L1WUfwqtr,7260 W Alaska Dr,"music venue,bars , pubs,pubs,breweries,bar",Denver,US,39.709068,-105.077258,World of Beer,80226,NaN,http://worldofbeer.com/Locations/Belmar,True,False,True,CO,"7260 W Alaska Dr, Denver, CO, 80226, US",3,den,80226
3,AVwcizXVkufWRAb5wVk8,1257 W 120th Ave,"american restaurant,brewery,fast food restaura...",Denver,US,39.914928,-105.000843,C.b. & Potts,80234,NaN,http://cbpotts.com,True,False,True,CO,"1257 W 120th Ave, Denver, CO, 80234, US",3,den,80234
4,AVwdQdHXIN2L1WUft5XE,W Jeppesen Terminal 5,"airport lounge,brewery,bar",Denver,US,39.848760,-104.673743,Boulder Beer Tap House,80249,NaN,http://boulderbeer.com,True,False,True,CO,"W Jeppesen Terminal 5, Denver, CO, 80249, US",3,den,80249

In [22]:
# inspect the shape of data frame that just got imputed
df_new.shape

(128, 19)

In [23]:
# inspect the head of the data frame that just got imputed
df_new.head()

,id,address,categories,city,country,latitude,longitude,name,postalCode,twitter,websites,no_twitter,no_website,no_menu,state,address_location,clusters,cluster_name,zipcode
5,AV1TrojULD2H7whiaK47,1875 S. Pearl St,"restaurant,pubs,brewery",Denver,US,39.682568,-104.98078,Denver pearl brewing,NaN,NaN,NaN,True,True,True,CO,NaN,3,den,NaN
14,AV5NZZTxa4HuVbedB2d_,Denver International Airport,"restaurant,american,pizza,pubs,brewery",Denver,US,39.739580,-104.98731,Rock Bottom Restaurant & Brewery,NaN,NaN,NaN,True,True,True,CO,NaN,3,den,NaN
28,AV1TquITLD2H7whiaGIE,1477 Monroe Street,"restaurant,brewery",Denver,US,39.739752,-104.94508,Cerebral Brewing,NaN,NaN,http://cerebralbrewing.com/,True,False,True,CO,NaN,3,den,NaN
53,AV492ksaIxWefVJwlWqA,Denver International Airport,"restaurant,american,pizza,pubs,brewery",Denver,US,39.739580,-104.98731,Rock Bottom Restaurant & Brewery,NaN,NaN,NaN,True,True,True,CO,NaN,3,den,NaN
78,AV49C3vO3-Khe5l_Sx5V,1875 S. Pearl St,"restaurant,pubs,brewery",Denver,US,39.682568,-104.98078,Denver pearl brewing,NaN,NaN,NaN,True,True,True,CO,NaN,3,den,NaN

In [24]:
# append the predicted values to data frame
df_new["zipcode"] = zipcodes2

/Users/saultamariz/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [25]:
# use the pd concat function to concat both data frames
dfs = pd.concat([df_new, df_new2])

In [26]:
# inspect the shape of the data frame
dfs.shape

(1269, 19)

In [27]:
# drop postalCode and address_location column
dfs = dfs.drop(columns=['postalCode','address_location'])

In [28]:
# inspect head of the df 
dfs.head()

,id,address,categories,city,country,latitude,longitude,name,twitter,websites,no_twitter,no_website,no_menu,state,clusters,cluster_name,zipcode
5,AV1TrojULD2H7whiaK47,1875 S. Pearl St,"restaurant,pubs,brewery",Denver,US,39.682568,-104.98078,Denver pearl brewing,NaN,NaN,True,True,True,CO,3,den,80210
14,AV5NZZTxa4HuVbedB2d_,Denver International Airport,"restaurant,american,pizza,pubs,brewery",Denver,US,39.739580,-104.98731,Rock Bottom Restaurant & Brewery,NaN,NaN,True,True,True,CO,3,den,80202
28,AV1TquITLD2H7whiaGIE,1477 Monroe Street,"restaurant,brewery",Denver,US,39.739752,-104.94508,Cerebral Brewing,NaN,http://cerebralbrewing.com/,True,False,True,CO,3,den,80206
53,AV492ksaIxWefVJwlWqA,Denver International Airport,"restaurant,american,pizza,pubs,brewery",Denver,US,39.739580,-104.98731,Rock Bottom Restaurant & Brewery,NaN,NaN,True,True,True,CO,3,den,80202
78,AV49C3vO3-Khe5l_Sx5V,1875 S. Pearl St,"restaurant,pubs,brewery",Denver,US,39.682568,-104.98078,Denver pearl brewing,NaN,NaN,True,True,True,CO,3,den,80210

In [29]:
## export to local for further analysis using Tableau and Twitter API tweepy
#dfs.to_csv("dfs.csv", index=False)